*{
    box-sizing: border-box;
}

.double {
    position: relative;

    width: 35cm;
    height: 21cm;

    margin: 10px auto;
    border: 1px solid black;
}

.left {
    float: left;

    width: 17cm;
    height: 21cm;

    margin: 5px;;
}

.right {
    float: right;

    width: 17cm;
    height: 21cm;

    margin: 0;
}

.img {
    position: absolute;
    top: 380px;
    margin: 10px;

    width: 430px;
}

.img2 {
    float: right;
    margin: 20px;

    width: 40%;
}

.legend {
    position: absolute;
    left: 350px;
    top: 620px;

    transform: rotate(90deg);
    font-size: .65em;
}

.one, .two, .three, .four, .five {
    position: absolute;

    width: 15%;
    font-family: sans-serif;
    font-size: .85em;
}

.one {
    top: 150px; 
    left: 20px;

    width: 12%;   
}

.two {
    top: 20px;
    left: 470px;

    width: 10%;
}

.three {
    top: 160px;

    width: 10%;
}

.four {
    top: 425px;
    left: 900px;

    width: 12%;
}

.legend2 {
    position: absolute;
    top: 350px;
    right: -70px;

    font-size: .65em;
    transform: rotate(90deg);
}

.event2 {
    position: relative;
    top: 750px;
    left: 20px;
    width: 800px;

    font-size: .75em;
}

.button {
    position: absolute;
    left: 1270px;
    top: 785px;

    padding: 5px;
    border-radius: 15%;
    background-color: lightgray;
}

.button2 {
    position: absolute;
    left: 0px;
    top: 785px;

    padding: 5px;
    border-radius: 15%;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: .85em;
}