* {
  box-sizing: border-box;
}

/* :root {
  --gradient: rgb(141, 26, 18);
} */

.container {
  position: relative;

  width: 600px;
  height: 600px;
  margin: 10px auto;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-one {
  position: absolute;
  
  width: 150%;
  height: 150%;
  border-radius: 50%;

  background-image: radial-gradient(#ffffff, #df3b30,  #680801);

  z-index: 0;

  transform: translateY(0%);
  transition: transform 2s ease-in-out;
}

.circle-two:hover {
  transform: translateY(50%);
  transition: transform 2s ease-in-out;
}

.circle-two {
  position: absolute;

  width: 120%;
  height: 120%;
  border-radius: 50%;

  background-image: radial-gradient(#fff 20%, #df3b30,  #680801);

  z-index: 2;
}

.circle-three {
  position: absolute;

  width: 95%;
  height: 95%;
  border-radius: 50%;

  background-image: radial-gradient(#fff 20%, #df3b30,  #680801);

  z-index: 3;
}

.circle-four {
  position: absolute;
  
  width: 70%;
  height: 70%;
  border-radius: 50%;

  background-image: radial-gradient(#fff 35%, #df3b30,  #680801);

  z-index: 4;
}

.circle-five {
  position: absolute;

  width: 50%;
  height: 50%;
  border-radius: 50%;

  background-color: rgb(0, 0, 104);

  z-index: 5;

  transform: scale(1);
  transition: transform 2s ease-in-out;
}

.circle-five:hover {
  transform: scale(2);
  transition: transform 2s ease-in-out;
}

p {
  z-index: 6;
  color: white;
  font-family: sans-serif;
  font-size: 4em;
  font-weight: 600;
  font-variant: small-caps;

  transform: rotate(0deg);
  transition: transform 2s ease-in;
}

p:hover {
  transform: rotate(360deg);
  transition: transform 2s ease-in;
}

@media (max-width: 750px) {
  .container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 200px;
    height: 200px;
  }
}