* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --box-size: 100px;
}

a {
  position: absolute;
  top: 200px;

  color: transparent;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 2em;

  transition: transform .4s ease-in-out;
}

.book {
  align-self: center;
  margin-left: 25%;
  margin-top: 25%;
  max-width: 3em;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all .4s ease-in-out;

  background-color: black;
  box-shadow: 0 30px 20px rgb(140, 140, 140);
}

.circle:hover {
  width: 200px;

  display: flex;

  background-color: black;
}

.circle:hover .book {
  margin: 0;
  margin-left: 10px;
}

.circle:hover a {
  color: white;

  transform: translateY(-200%) translateX(100%);
  transition: all .4s ease-in-out;
}