* {
  box-sizing: border-box;
}

.double {
  position: relative;
  margin: 10px auto;
  border: 1px solid black;

  width: 35cm;
  height: 21cm;
}

.left {
  float: left;
  margin: 5px;

  width: 17cm;
  height: 21cm;
}

.right {
  float: right;
  margin: 0;

  width: 17cm;
  height: 21cm;
}

.img {
  margin: 20px;

  width: 90%;
}

.img2 {
  float: left;

  width: 450px;
}

.legend {
  position: absolute;
  left: 530px;
  top: 310px;

  font-size: .65em;
  transform: rotate(90deg);
}

.one, .two, .three, .four, .five, .six, .big {
  position: absolute;

  width: 15%;
  font-family: sans-serif;
  font-size: .85em;
}

.one {
  left: 30px;
  top: 410px;

  width: 12%;
}

.three {
  left: 380px;
  top: 460px;
}

.big {
  top: 380px;
  left: 300px;

  color: rgb(255,77,114);
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: 600;
}

.legend2 {
  position: absolute;
  left: 540px;
  top: 580px;

  transform: rotate(-90deg);
  font-size: .65em;
}

.four {
  left: 1140px;

  width: 11%;
}

.five {
  top: 300px;
  left: 1140px;

  width: 11%;
}

.six {
  top: 650px;
  left: 1140px;

  width: 12%;
}

.button {
  position: absolute;
  left: 1270px;
  top: 785px;

  padding: 5px;
  border-radius: 15%;
  background-color: lightgray;
}

.button2 {
  position: absolute;
  left: 0px;
  top: 785px;

  padding: 5px;
  border-radius: 15%;
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: .85em;
}

.event2 {
  position: relative;
  top: 750px;
  left: -450px;
  width: 800px;

  font-size: .75em;
}