* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238,238,238);
  font-size: .85em;
}

.container {
  margin: 50px auto;
  padding: 40px;

  overflow: hidden;
  
  width: 600px;
  background-color: rgb(221,221,221);
}

.fakeone, .faketwo {
  background-color: yellow;
}

.fakeone {
  float: left;
  margin-right: 1em;

  width: 100px;
  height: 150px;
}

.faketwo {
  float: right;
  margin-left: 1em;
  
  width: 100px;
  height: 150px;
}
