* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.parent {
    position: relative;

    width: 400px;

    margin: 100px auto;
    padding: 20px;

    background-color: black;
}

p {
    color:white;
    padding-right: 10px;
    padding-left: 10px;
}

.fake-img {
    float: left;
    width: 100px;
    height: 100px;

    margin-top: 10px;
    margin-right: 1em;

    background-color: yellow;
}

.pastille {
    position: absolute;
    top: -30px;
    right: -30px;

    width: 80px;
    height: 80px;

    border-radius: 50%;

    background-color: red;
}