* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    position: absolute;
    padding-top: 2%;
    padding-left: 10%;

    color: red;
    font-family: sans-serif;
    font-size: 2.5em;
}

.wrapper {
    border: 4px solid black;
    margin: 20px auto;

    width: 708px;
    height: 708px;

}

.left {
    float: left;

    width: 300px;
    height: 700px;
}

.right {
    float: right;

    width: 400px;
}

.one {
    width: 300px;
    height: 300px;

    background-color: rgb(248,235,217)
}

.one p {
    margin: 0;
}

.three {
    width: 300px;
    height: 400px;

    background-color: rgb(162,252,215)
}

.three p {
    margin: 0;
}

.two {
    width: 400px;
    height: 400px;

    background-color: rgb(120,251,253);
}

.two p {
    margin: 0;
}

.four {
    width: 400px;
    height: 200px;

    background-color: rgb(243,255,255)
}

.four p {
    margin: 0;
}

.five {
    width: 400px;
    height: 100px;

    background-color: rgb(245,246,223);
}

.five p {
    margin: 0;
}

@media (max-width: 710px) {
    .wrapper {
        border: 2px solid black;
        width: 505px;
        height: 505px;
    }

    .one, .three {
        width: 200px;

    }

    .one {
        height: 200px;
    }

    .three {
        height: 300px;
    }

    .two, .four, .five {
        float: right;
        width: 300px;
    }

    .two {
        height: 300px;
    }

    .four {
        height: 150px;
    }

    .five {
        height: 50px;
    }

    .right {
        width: 300px;
    }

    .left {
        width: 200px;
    }

    p {
        font-size: 1.5em;
    }

    }

    /*@media (max-width: 520px) {
        .wrapper {
            width: 300px;
            height: 500px;
        }

        .one, .three .four, .five, .two {
            width: 300px;
            height: 100px;
        }

    }*/
